.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}   
.card-table{
  min-width: 350px;
}
.about-table{
text-align: left;
}

.about-table td{
  text-align: left;
}

.about-table b td{
  padding-right: 50px;
  width: 150px;
}
.about-history{
  padding: 0px 50px 0px 0px;
  text-align: left;
}
.about-comments{
  border: 1px solid #D1C4E9;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-top: 15px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
  background-color: #ffffff;
  padding: 5px;
  border: 10px;
  box-shadow: 0px 0px 12px -8px;
}